@model IEnumerable<MVCDemo.Models.SysUser>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SelectUserDetails</title>
</head>
<body>
    <div>
        <table>
            <tr>
                <th>UserName</th>
                <th>Email</th>
                <th>RoleName</th>
            </tr>
        </table>
    </div>
</body>
</html>
